In [1]:
#

In [2]:
import pandas as pd
import os
import numpy as np

In [3]:
# Path to data folder relative to the notebook
DATA_DIR = os.path.join("..", "data", "processed")

In [4]:
bus_evasion_df = pd.read_csv(os.path.join(DATA_DIR, "bus_evasion_df.csv"))
subway_evasion_df = pd.read_csv(os.path.join(DATA_DIR, "subway_evasion_df.csv"))
ridership_df = pd.read_csv(os.path.join(DATA_DIR, "ridership_long.csv"))
quarterly_ridership_stats = pd.read_csv(os.path.join(DATA_DIR, "quarterly_stats.csv"))

In [5]:
# DataFrame where Metric = "Subways Total Estimated Ridership"
quarterly_ridership_bus_stats = quarterly_ridership_stats[
    (quarterly_ridership_stats["Metric"] == "Total Estimated Ridership") &
    (quarterly_ridership_stats["Mode"] == "Buses")
].copy()

# DataFrame where Metric = "% of Comparable Pre-Pandemic Day"
df_percent = ridership_df[ridership_df["Metric"] == "% of Comparable Pre-Pandemic Day"].copy()

In [6]:
quarterly_ridership_bus_stats

,Year,Quarter,Metric,Mode,Avg_Value,Var_Value,Sum_Value
7,2020,Q1,Total Estimated Ridership,Buses,1028122.06,7.292881e+11,31871784.0
21,2020,Q2,Total Estimated Ridership,Buses,16929.59,5.522727e+07,1540593.0
35,2020,Q3,Total Estimated Ridership,Buses,331568.61,1.976349e+11,30504312.0
49,2020,Q4,Total Estimated Ridership,Buses,907293.59,5.093318e+10,83471010.0
63,2021,Q1,Total Estimated Ridership,Buses,862352.43,5.384418e+10,77611719.0
77,2021,Q2,Total Estimated Ridership,Buses,1045234.60,5.732853e+10,95116349.0
91,2021,Q3,Total Estimated Ridership,Buses,1100630.43,7.668791e+10,101258000.0
105,2021,Q4,Total Estimated Ridership,Buses,1170128.24,1.247942e+11,107651798.0
119,2022,Q1,Total Estimated Ridership,Buses,1084874.78,1.204031e+11,97638730.0
133,2022,Q2,Total Estimated Ridership,Buses,1209488.24,9.779274e+10,110063430.0
147,2022,Q3,Total Estimated Ridership,Buses,1171809.29,8.047389e+10,107806455.0
161,2022,Q4,Total Estimated Ridership,Buses,1178676.18,1.217016e+11,108438209.0
175,2023,Q1,Total Estimated Ridership,Buses,1203335.09,1.059702e+11,108300158.0
189,2023,Q2,Total Estimated Ridership,Buses,1224860.30,9.654281e+10,111462287.0
203,2023,Q3,Total Estimated Ridership,Buses,1138338.75,7.954153e+10,104727165.0
217,2023,Q4,Total Estimated Ridership,Buses,1098371.62,1.022534e+11,101050189.0
231,2024,Q1,Total Estimated Ridership,Buses,1069107.46,8.336942e+10,97288779.0
245,2024,Q2,Total Estimated Ridership,Buses,1108932.35,6.954818e+10,100912844.0
259,2024,Q3,Total Estimated Ridership,Buses,1096568.04,8.006742e+10,100884260.0
273,2024,Q4,Total Estimated Ridership,Buses,1193332.14,1.047793e+11,109786557.0
287,2025,Q1,Total Estimated Ridership,Buses,986453.11,9.817006e+10,8878078.0

In [7]:
bus_evasion_df_total = bus_evasion_df[bus_evasion_df["Trip Type"]=="Total"].copy()

# Left join on Mode, Year, and Quarter
df_joined_bus = quarterly_ridership_bus_stats.merge(
    bus_evasion_df_total,
    on=["Mode", "Year", "Quarter"],
    how="inner",
    suffixes=("_ridership", "_percent")
)
df_joined_bus

# Drop duplicate rows based on Mode, Year, Quarter
df_deduped = df_joined_bus.drop_duplicates(subset=["Mode", "Year", "Quarter"]).copy()
df_deduped = df_deduped[['Mode','Year','Quarter','Fare Evasion','Sum_Value']]
#df_deduped

In [8]:
df_deduped

     Mode  Year Quarter  Fare Evasion    Sum_Value
0   Buses  2020      Q4        0.2307   83471010.0
1   Buses  2021      Q1        0.2492   77611719.0
2   Buses  2021      Q2        0.2466   95116349.0
3   Buses  2021      Q3        0.2599  101258000.0
4   Buses  2021      Q4        0.3003  107651798.0
5   Buses  2022      Q1        0.3242   97638730.0
6   Buses  2022      Q2        0.3316  110063430.0
7   Buses  2022      Q3        0.3372  107806455.0
8   Buses  2022      Q4        0.3722  108438209.0
9   Buses  2023      Q1        0.3852  108300158.0
10  Buses  2023      Q2        0.3996  111462287.0
11  Buses  2023      Q3        0.4155  104727165.0
12  Buses  2023      Q4        0.4610  101050189.0
13  Buses  2024      Q1        0.4775   97288779.0
14  Buses  2024      Q2        0.4940  100912844.0
15  Buses  2024      Q3        0.4798  100884260.0
16  Buses  2024      Q4        0.4490  109786557.0
17  Buses  2025      Q1        0.4400    8878078.0

In [9]:
bus_evasion_df_total = bus_evasion_df[bus_evasion_df["Trip Type"]=="Total"].copy()
# Left join on Mode, Year, and Quarter
df_joined_bus = df_percent.merge(
    bus_evasion_df_total,
    on=["Mode", "Year", "Quarter"],
    how="inner",
    suffixes=("_ridership", "_percent")
)
df_joined_bus

# Drop duplicate rows based on Mode, Year, Quarter
df_deduped_1 = df_joined_bus.drop_duplicates(subset=["Mode", "Year", "Quarter"]).copy()
df_deduped_1 = df_deduped_1[['Mode','Year','Quarter','Fare Evasion','Value']].rename(columns={"Value": "% Pre-Covid Passengers"})
df_deduped_1

       Mode  Year Quarter  Fare Evasion  % Pre-Covid Passengers
0     Buses  2020      Q4        0.2307                    0.51
92    Buses  2021      Q1        0.2492                    0.41
182   Buses  2021      Q2        0.2466                    0.47
273   Buses  2021      Q3        0.2599                    0.53
365   Buses  2021      Q4        0.3003                    0.66
457   Buses  2022      Q1        0.3242                    0.29
547   Buses  2022      Q2        0.3316                    0.65
638   Buses  2022      Q3        0.3372                    0.59
730   Buses  2022      Q4        0.3722                    0.55
822   Buses  2023      Q1        0.3852                    0.52
912   Buses  2023      Q2        0.3996                    0.63
1003  Buses  2023      Q3        0.4155                    0.64
1095  Buses  2023      Q4        0.4610                    0.67
1187  Buses  2024      Q1        0.4775                    0.50
1278  Buses  2024      Q2        0.4940                    0.53
1369  Buses  2024      Q3        0.4798                    0.56
1461  Buses  2024      Q4        0.4490                    0.69
1553  Buses  2025      Q1        0.4400                    0.54

In [10]:
df_joined_bus_final = df_deduped_1.merge(
    df_deduped,
    on=["Mode", "Year", "Quarter"],
    how="inner",
    suffixes=("_ridership", "_percent")
)

df_joined_bus_final = df_joined_bus_final[['Mode','Year','Quarter','% Pre-Covid Passengers','Sum_Value', 'Fare Evasion_ridership']]

df_joined_bus_final

,Mode,Year,Quarter,% Pre-Covid Passengers,Sum_Value,Fare Evasion_ridership
0,Buses,2020,Q4,0.51,83471010.0,0.2307
1,Buses,2021,Q1,0.41,77611719.0,0.2492
2,Buses,2021,Q2,0.47,95116349.0,0.2466
3,Buses,2021,Q3,0.53,101258000.0,0.2599
4,Buses,2021,Q4,0.66,107651798.0,0.3003
5,Buses,2022,Q1,0.29,97638730.0,0.3242
6,Buses,2022,Q2,0.65,110063430.0,0.3316
7,Buses,2022,Q3,0.59,107806455.0,0.3372
8,Buses,2022,Q4,0.55,108438209.0,0.3722
9,Buses,2023,Q1,0.52,108300158.0,0.3852
10,Buses,2023,Q2,0.63,111462287.0,0.3996
11,Buses,2023,Q3,0.64,104727165.0,0.4155
12,Buses,2023,Q4,0.67,101050189.0,0.4610
13,Buses,2024,Q1,0.50,97288779.0,0.4775
14,Buses,2024,Q2,0.53,100912844.0,0.4940
15,Buses,2024,Q3,0.56,100884260.0,0.4798
16,Buses,2024,Q4,0.69,109786557.0,0.4490
17,Buses,2025,Q1,0.54,8878078.0,0.4400

In [11]:
def assign_base_fare_precise(row):
    year = row["Year"]
    quarter = row["Quarter"]
    if year < 2023:
        return 2.75
    elif year == 2023:
        if quarter in ["Q1", "Q2"]:
            return 2.75
        else:
            return 2.90
    else:
        return 2.90

df_joined_bus_final["Base_Fare"] = df_joined_bus_final.apply(assign_base_fare_precise, axis=1)

#Passenger Average Pre Covid
df_joined_bus_final['NoCovid Ridership Volume'] = (df_joined_bus_final['Sum_Value'] / df_joined_bus_final['% Pre-Covid Passengers'])

#Paying_Passengers
df_joined_bus_final['Paying Passengers'] = df_joined_bus_final['Sum_Value'] * (1-df_joined_bus_final['Fare Evasion_ridership'])

#Find Pre-Covid fare evasion
# Distribution parameters
mean = 0.2373
std_dev = np.sqrt(0.0009)  # ≈ 0.03
n = len(df_joined_bus_final)

# Generate random multipliers from N(0.2373, 0.03^2)
multipliers = np.random.normal(loc=mean, scale=std_dev, size=n)

# Multiply each row in 'base_value' by a corresponding random sample
#df["adjusted_value"] = df["base_value"] * multipliers

#FewerPassengers Pre vs Post Covid
df_joined_bus_final['Fewer Passengers'] = df_joined_bus_final['NoCovid Ridership Volume'] - df_joined_bus_final['Sum_Value']

#Expected Paying_Passengers
df_joined_bus_final['Expected Paying Passengers'] = df_joined_bus_final['NoCovid Ridership Volume'] * (1-multipliers)

#Fewer Paying Passengers pre vs Post Covid
df_joined_bus_final['Fewer Paying Passengers'] = df_joined_bus_final['Expected Paying Passengers'] - df_joined_bus_final['Paying Passengers']

#Revenue Lost, Assuming No Covid and Fare Evasion Stays the Same as pre Covid - This is the situation the MTA
#looking at before the Covid events.
df_joined_bus_final['Revenue Lost_Covid_RisingEvasion'] = df_joined_bus_final['Fewer Paying Passengers']* multipliers * df_joined_bus_final["Base_Fare"]

#Revenue Lost, Due to Strictly Fare Evasion because of current levels
df_joined_bus_final['Revenue_Lost_FareEvasion'] = df_joined_bus_final['Sum_Value'] * df_joined_bus_final['Fare Evasion_ridership']* df_joined_bus_final["Base_Fare"]

#Revenue Lost, Had Covid Happened but Fare Evasion rise was not seen
df_joined_bus_final['Revenue_Lost_FareEvasion_precovid'] = df_joined_bus_final['Sum_Value'] * multipliers * df_joined_bus_final["Base_Fare"]


#Percent Difference of Fares Collected Covid vs Pre Covid
df_joined_bus_final['%Fares_NowvsPreCovid'] = df_joined_bus_final['Fare Evasion_ridership'] - multipliers

#Ridership Percent Change PreCovid vs Now
df_joined_bus_final['%PaidRiders_NowvsPreCovid'] = df_joined_bus_final['Paying Passengers']/df_joined_bus_final['Expected Paying Passengers']

#Revenue, Due to Strictly Fare Evasion because of current levels
df_joined_bus_final['Revenue'] = df_joined_bus_final['Sum_Value'] * (1 - df_joined_bus_final['Fare Evasion_ridership'])* df_joined_bus_final["Base_Fare"]

#Effective Fare per Rider
df_joined_bus_final['effective_fare_paid_per_rider'] = df_joined_bus_final['Revenue']/ df_joined_bus_final['Sum_Value']

#Effective Fare Loss per Rider
df_joined_bus_final['effective_fare_loss_per_rider'] = df_joined_bus_final["Base_Fare"] - df_joined_bus_final['effective_fare_paid_per_rider']

#Non Paying Passengers
df_joined_bus_final['NoPay_Passengers'] = df_joined_bus_final["Sum_Value"] - df_joined_bus_final['Paying Passengers']


# Format % columns to percentages (2 decimal points)
#df_joined_bus_final["% Pre-Covid Passengers"] = (df_joined_bus_final["% Pre-Covid Passengers"] * 100).round(2)
#df_joined_bus_final["Fare_Evasion"] = (df_joined_bus_final["Fare_Evasion"] * 100).round(2)

# Convert Passengers to integer
#df_joined_bus_final["Passengers"] = df_joined_bus_final["Passengers"].astype(int)

df_joined_bus_final

,Mode,Year,Quarter,% Pre-Covid Passengers,Sum_Value,Fare Evasion_ridership,Base_Fare,NoCovid Ridership Volume,Paying Passengers,Fewer Passengers,...,Fewer Paying Passengers,Revenue Lost_Covid_RisingEvasion,Revenue_Lost_FareEvasion,Revenue_Lost_FareEvasion_precovid,%Fares_NowvsPreCovid,%PaidRiders_NowvsPreCovid,Revenue,effective_fare_paid_per_rider,effective_fare_loss_per_rider,NoPay_Passengers
0,Buses,2020,Q4,0.51,83471010.0,0.2307,2.75,1.636686e+08,6.421425e+07,8.019764e+07,...,5.815419e+07,4.035529e+07,5.295610e+07,5.792354e+07,-0.021640,0.524762,1.765892e+08,2.115575,0.634425,1.925676e+07
1,Buses,2021,Q1,0.41,77611719.0,0.2492,2.75,1.892969e+08,5.827088e+07,1.116852e+08,...,8.030506e+07,5.917243e+07,5.318731e+07,5.718786e+07,-0.018744,0.420498,1.602449e+08,2.064700,0.685300,1.934084e+07
2,Buses,2021,Q2,0.47,95116349.0,0.2466,2.75,2.023752e+08,7.166066e+07,1.072589e+08,...,6.965274e+07,5.779407e+07,6.450315e+07,7.892239e+07,-0.055126,0.507104,1.970668e+08,2.071850,0.678150,2.345569e+07
3,Buses,2021,Q3,0.53,101258000.0,0.2599,2.75,1.910528e+08,7.494105e+07,8.979483e+07,...,7.077793e+07,4.618487e+07,7.237162e+07,6.607409e+07,0.022616,0.514285,2.060879e+08,2.035275,0.714725,2.631695e+07
4,Buses,2021,Q4,0.66,107651798.0,0.3003,2.75,1.631088e+08,7.532396e+07,5.545699e+07,...,5.113383e+07,3.159726e+07,8.890155e+07,6.652155e+07,0.075597,0.595645,2.071409e+08,1.924175,0.825825,3.232783e+07
5,Buses,2022,Q1,0.29,97638730.0,0.3242,2.75,3.366853e+08,6.598425e+07,2.390465e+08,...,1.809415e+08,1.326561e+08,8.704981e+07,7.158322e+07,0.057602,0.267223,1.814567e+08,1.858450,0.891550,3.165448e+07
6,Buses,2022,Q2,0.65,110063430.0,0.3316,2.75,1.693284e+08,7.356640e+07,5.926492e+07,...,5.569829e+07,3.624061e+07,1.003668e+08,7.161380e+07,0.094997,0.569114,2.023076e+08,1.838100,0.911900,3.649703e+07
7,Buses,2022,Q3,0.59,107806455.0,0.3372,2.75,1.827228e+08,7.145412e+07,7.491635e+07,...,6.548712e+07,4.512181e+07,9.996893e+07,7.428059e+07,0.086648,0.521787,1.964988e+08,1.822700,0.927300,3.635234e+07
8,Buses,2022,Q4,0.55,108438209.0,0.3722,2.75,1.971604e+08,6.807751e+07,8.872217e+07,...,8.134657e+07,5.416280e+07,1.109919e+08,7.220116e+07,0.130081,0.455599,1.872131e+08,1.726450,1.023550,4.036070e+07
9,Buses,2023,Q1,0.52,108300158.0,0.3852,2.75,2.082695e+08,6.658294e+07,9.996938e+07,...,8.947267e+07,6.168559e+07,1.147224e+08,7.466592e+07,0.134496,0.426662,1.831031e+08,1.690700,1.059300,4.171722e+07
10,Buses,2023,Q2,0.63,111462287.0,0.3996,2.75,1.769243e+08,6.692196e+07,6.546198e+07,...,6.641795e+07,4.499471e+07,1.224859e+08,7.550991e+07,0.153255,0.501890,1.840354e+08,1.651100,1.098900,4.454033e+07
11,Buses,2023,Q3,0.64,104727165.0,0.4155,2.90,1.636362e+08,6.121303e+07,5.890903e+07,...,6.284051e+07,4.408220e+07,1.261910e+08,7.346542e+07,0.173606,0.493440,1.775178e+08,1.695050,1.204950,4.351414e+07
12,Buses,2023,Q4,0.67,101050189.0,0.4610,2.90,1.508212e+08,5.446605e+07,4.977099e+07,...,6.105328e+07,4.144213e+07,1.350940e+08,6.859149e+07,0.226936,0.471489,1.579516e+08,1.563100,1.336900,4.658414e+07
13,Buses,2024,Q1,0.50,97288779.0,0.4775,2.90,1.945776e+08,5.083339e+07,9.728878e+07,...,8.491581e+07,7.445272e+07,1.347206e+08,8.530112e+07,0.175161,0.374465,1.474168e+08,1.515250,1.384750,4.645539e+07
14,Buses,2024,Q2,0.53,100912844.0,0.4940,2.90,1.904016e+08,5.106190e+07,8.948875e+07,...,8.984855e+07,6.772764e+07,1.445677e+08,7.606788e+07,0.234070,0.362371,1.480795e+08,1.467400,1.432600,4.985094e+07
15,Buses,2024,Q3,0.56,100884260.0,0.4798,2.90,1.801505e+08,5.247999e+07,7.926620e+07,...,9.646237e+07,4.846050e+07,1.403724e+08,5.068195e+07,0.306566,0.352351,1.521920e+08,1.508580,1.391420,4.840427e+07
16,Buses,2024,Q4,0.69,109786557.0,0.4490,2.90,1.591110e+08,6.049239e+07,4.932440e+07,...,5.932843e+07,4.248584e+07,1.429531e+08,7.861954e+07,0.202065,0.504857,1.754279e+08,1.597900,1.302100,4.929416e+07
17,Buses,2025,Q1,0.54,8878078.0,0.4400,2.90,1.644089e+07,4.971724e+06,7.562807e+06,...,7.540360e+06,5.225465e+06,1.132843e+07,6.152502e+06,0.201035,0.397354,1.441800e+07,1.624000,1.276000,3.906354e+06

In [12]:
graph_1 = df_joined_bus_final[['Year','Quarter','NoPay_Passengers','Paying Passengers']]
graph_1 = graph_1[graph_1["Year"] < 2025]

# Get the absolute path to the project root
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))

# Construct the full path to the output file
output_path = os.path.join(project_root, "data", "processed", "graph_1.csv")

# Save the CSV
graph_1.to_csv(output_path, index=False)
graph_1

    Year Quarter  NoPay_Passengers  Paying Passengers
0   2020      Q4      1.925676e+07       6.421425e+07
1   2021      Q1      1.934084e+07       5.827088e+07
2   2021      Q2      2.345569e+07       7.166066e+07
3   2021      Q3      2.631695e+07       7.494105e+07
4   2021      Q4      3.232783e+07       7.532396e+07
5   2022      Q1      3.165448e+07       6.598425e+07
6   2022      Q2      3.649703e+07       7.356640e+07
7   2022      Q3      3.635234e+07       7.145412e+07
8   2022      Q4      4.036070e+07       6.807751e+07
9   2023      Q1      4.171722e+07       6.658294e+07
10  2023      Q2      4.454033e+07       6.692196e+07
11  2023      Q3      4.351414e+07       6.121303e+07
12  2023      Q4      4.658414e+07       5.446605e+07
13  2024      Q1      4.645539e+07       5.083339e+07
14  2024      Q2      4.985094e+07       5.106190e+07
15  2024      Q3      4.840427e+07       5.247999e+07
16  2024      Q4      4.929416e+07       6.049239e+07

In [13]:
graph_2 = df_joined_bus_final[['Year','Quarter','Fare Evasion_ridership']]

# Get the absolute path to the project root
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))

# Construct the full path to the output file
output_path = os.path.join(project_root, "data", "processed", "graph_2.csv")

# Save the CSV
graph_2.to_csv(output_path, index=False)
graph_2

    Year Quarter  Fare Evasion_ridership
0   2020      Q4                  0.2307
1   2021      Q1                  0.2492
2   2021      Q2                  0.2466
3   2021      Q3                  0.2599
4   2021      Q4                  0.3003
5   2022      Q1                  0.3242
6   2022      Q2                  0.3316
7   2022      Q3                  0.3372
8   2022      Q4                  0.3722
9   2023      Q1                  0.3852
10  2023      Q2                  0.3996
11  2023      Q3                  0.4155
12  2023      Q4                  0.4610
13  2024      Q1                  0.4775
14  2024      Q2                  0.4940
15  2024      Q3                  0.4798
16  2024      Q4                  0.4490
17  2025      Q1                  0.4400

In [14]:
#KPI Calculation
# KPI 0: Number of Passengers Average 2024
sum_2024_ridership = df_joined_bus_final[df_joined_bus_final['Year'] == 2024]['Sum_Value'].sum()
sum_2024_ridership = round(sum_2024_ridership)
print(sum_2024_ridership)

# KPI 1: Overall fare evasion rate (average across all rows)
avg_fare_evasion = df_joined_bus_final['Fare Evasion_ridership'].mean()

# KPI 2: Total revenue lost from fare evasion
total_revenue_lost = df_joined_bus_final['Revenue_Lost_FareEvasion'].sum()

# KPI 3: Average % of fares now vs pre-Covid
avg_fares_now_vs_precovid = df_joined_bus_final['%Fares_NowvsPreCovid'].mean()

# KPI 4: Average % of paid riders now vs pre-Covid
avg_paid_riders_now_vs_precovid = df_joined_bus_final['%PaidRiders_NowvsPreCovid'].mean()

# KPI 5: Max and Min quarterly revenue loss from fare evasion
max_revenue_lost = df_joined_bus_final['Revenue_Lost_FareEvasion'].max()
min_revenue_lost = df_joined_bus_final['Revenue_Lost_FareEvasion'].min()

# KPI 6: Total paying passengers vs expected
total_paying = df_joined_bus_final['Paying Passengers'].sum()
expected_paying = df_joined_bus_final['Expected Paying Passengers'].sum()
percent_paying_vs_expected = total_paying / expected_paying

# KPI 7: Average % Pre-Covid Passengers
avg_pre_covid_pct = df_joined_bus_final['% Pre-Covid Passengers'].mean()

# KPI 8: Most recent quarter's fare evasion rate
latest_fare_evasion = df_joined_bus_final.iloc[-1]['Fare Evasion_ridership']

# Print all KPIs
print("🧮 Key Transit KPIs")
print(f"avg_2024_ridership: {avg_fare_evasion:.2%}")
print(f"Average Fare Evasion Rate: {avg_fare_evasion:.2%}")
print(f"Total Revenue Lost (Fare Evasion): ${total_revenue_lost:,.0f}")
print(f"Average % Fares Now vs Pre-Covid: {avg_fares_now_vs_precovid:.2%}")
print(f"Average % Paid Riders Now vs Pre-Covid: {avg_paid_riders_now_vs_precovid:.2%}")
print(f"Max Revenue Lost in One Quarter: ${max_revenue_lost:,.0f}")
print(f"Min Revenue Lost in One Quarter: ${min_revenue_lost:,.0f}")
print(f"Total Paying Passengers: {total_paying:,.0f}")
print(f"Expected Paying Passengers: {expected_paying:,.0f}")
print(f"Paying vs Expected: {percent_paying_vs_expected:.2%}")
print(f"Average % of Pre-Covid Passengers: {avg_pre_covid_pct:.2%}")
print(f"Most Recent Fare Evasion Rate: {latest_fare_evasion:.2%}")

408872440
🧮 Key Transit KPIs
avg_2024_ridership: 36.96%
Average Fare Evasion Rate: 36.96%
Total Revenue Lost (Fare Evasion): $1,802,732,752
Average % Fares Now vs Pre-Covid: 12.11%
Average % Paid Riders Now vs Pre-Covid: 45.89%
Max Revenue Lost in One Quarter: $144,567,740
Min Revenue Lost in One Quarter: $11,328,428
Total Paying Passengers: 1,092,516,438
Expected Paying Passengers: 2,423,893,601
Paying vs Expected: 45.07%
Average % of Pre-Covid Passengers: 55.22%
Most Recent Fare Evasion Rate: 44.00%

In [15]:
# Filter to only include data through 2024
df_filtered = df_joined_bus_final[(df_joined_bus_final['Year'] >= 2021) & (df_joined_bus_final['Year'] <= 2024)]

# Group by year and sum Sum_Value_lights
yearly_sum = df_filtered.groupby('Year')['Sum_Value'].sum()

# Get beginning and ending values
begin_val = yearly_sum.iloc[0]
end_val = yearly_sum.iloc[-1]

# Number of years
num_years = len(yearly_sum) - 1  # e.g., 2020 to 2024 = 4 years

# Calculate CAGR
cagr = (end_val / begin_val) ** (1 / num_years) - 1

print(f"Compound Annual Growth Rate (2020–2024) for Ridership: {cagr:.2%}")

Compound Annual Growth Rate (2020–2024) for Ridership: 2.32%

In [16]:
print("The Average Fare Evasion for buses from 2024-2025 is 46.81%")

The Average Fare Evasion for buses from 2024-2025 is 46.81%

In [17]:
#effective fare paid per rider
#Revenue/total passengers

In [20]:
revenue_df = df_joined_bus_final[['Year','Quarter','Revenue']]
revenue_df = revenue_df[revenue_df["Year"] < 2025]

# Get the absolute path to the project root
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))

# Construct the full path to the output file
output_path = os.path.join(project_root, "data", "processed", "revenue_df.csv")

# Save the CSV
revenue_df.to_csv(output_path, index=False)
revenue_df

    Year Quarter       Revenue
0   2020      Q4  1.765892e+08
1   2021      Q1  1.602449e+08
2   2021      Q2  1.970668e+08
3   2021      Q3  2.060879e+08
4   2021      Q4  2.071409e+08
5   2022      Q1  1.814567e+08
6   2022      Q2  2.023076e+08
7   2022      Q3  1.964988e+08
8   2022      Q4  1.872131e+08
9   2023      Q1  1.831031e+08
10  2023      Q2  1.840354e+08
11  2023      Q3  1.775178e+08
12  2023      Q4  1.579516e+08
13  2024      Q1  1.474168e+08
14  2024      Q2  1.480795e+08
15  2024      Q3  1.521920e+08
16  2024      Q4  1.754279e+08

In [ ]:
revenue_df = df_joined_bus_final[['Year','Quarter','Revenue']]
revenue_df = revenue_df[revenue_df["Year"] < 2025]

# Get the absolute path to the project root
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))

# Construct the full path to the output file
output_path = os.path.join(project_root, "data", "processed", "revenue_df.csv")

# Save the CSV
revenue_df.to_csv(output_path, index=False)
revenue_df

In [22]:
effective_df = df_joined_bus_final[['Year','Quarter','effective_fare_paid_per_rider', 'effective_fare_loss_per_rider']]
#revenue_df = revenue_df[revenue_df["Year"] < 2025]

# Get the absolute path to the project root
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))

# Construct the full path to the output file
output_path = os.path.join(project_root, "data", "processed", "effective_df.csv")

# Save the CSV
effective_df.to_csv(output_path, index=False)
effective_df

    Year Quarter  effective_fare_paid_per_rider  effective_fare_loss_per_rider
0   2020      Q4                       2.115575                       0.634425
1   2021      Q1                       2.064700                       0.685300
2   2021      Q2                       2.071850                       0.678150
3   2021      Q3                       2.035275                       0.714725
4   2021      Q4                       1.924175                       0.825825
5   2022      Q1                       1.858450                       0.891550
6   2022      Q2                       1.838100                       0.911900
7   2022      Q3                       1.822700                       0.927300
8   2022      Q4                       1.726450                       1.023550
9   2023      Q1                       1.690700                       1.059300
10  2023      Q2                       1.651100                       1.098900
11  2023      Q3                       1.695050                       1.204950
12  2023      Q4                       1.563100                       1.336900
13  2024      Q1                       1.515250                       1.384750
14  2024      Q2                       1.467400                       1.432600
15  2024      Q3                       1.508580                       1.391420
16  2024      Q4                       1.597900                       1.302100
17  2025      Q1                       1.624000                       1.276000